doctype html
html
	head
	title Pug User List
	link(href='https://www.w3schools.com/w3css/4/w3.css', rel='stylesheet')
	link(href='/css/pbstyle.css', rel='stylesheet')
	style.
	body.w3-white
		.w3-twothird.w3-row-padding
			h5 some puggy users here blah blah
			table#usertable.w3-table-all.w3-hoverable
				tbody
					tr
						th User ID
						th User Name
						th Firstname
						th Lastname
						th Password
						th Company
						th 
						th 
				each n in userlist
					tr
						td= n.userid
						td=n.username
						td= n.firstName
						td= n.lastName
						td= n.password
						td= n.organisation
						td
							a(href='/user/update?id='+n.userid) Update
						td
							a(href='/user/delete?id='+n.userid) Delete	
			a#buttonblock(href="/user/create", type='button',class="w3-button w3-green" style="width:200px") New User